<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <style>
        body        { padding-top:80px; background-color:black;}
        .form-control {width: 50%; margin-left:25%;}
        .signup {margin-bottom:25px; margin-top:10px;}
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fas fa-key"></i>Node Login</h1>

        <p>Login or Register with:</p>

        <form method="post" action="/signup">
            <input type="text" name="email" placeholder="email" class="form-control">
            <input type="text" name="password" placeholder="password" class="form-control">
            <button type="submit" class="btn btn-danger signup">New User</i>

            </button>
        </form>
        <form method="post" action="/signin">
            <input type="text" name="email" placeholder="email" class="form-control">
            <input type="text" name="password" placeholder="password" class="form-control">
            <button type="submit" class="btn btn-danger">Sign In</button>
        </form>
    </div>

</div>
</body>
</html>
